@font-face{
	font-family: titlefont;
	src:url(mensch.ttf);
}
@keyframes blinker {  
  50% { opacity: 0.0; }
}
a{
	text-decoration: none;
    color: #d29639;
}
*{
	box-sizing: border-box;
	padding:0px;
	margin: 0px;
	font-family: titlefont;
}

#home{
	height:100vh;
	width:100%;
}
.blinking{
	animation: blinker 1s linear infinite;

}
.title_text {
    font-size: 96px;
    position:absolute;
    margin-top: 50vh;
    margin-left: 10%;
    transform: translateY(-50%);
}
.center_title {
    text-align: center;
    padding: 30px;
    font-size: 60px;
}
.short_para {
    text-align: center;
}
.profile p {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}
.interest{
	position: relative;
}
.interest img {
    position: relative;
    margin: 0px auto;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.interest .text_holder {
    text-align: center;
    padding: 10px;
}
#interests ul li {
	padding:10px;
    display: block;
    float: left;
    width: 33.33%;
    height:250px;
}
div#skills {
    clear: both;
}
#skills li {
    padding: 10px;
    text-align: center;
}
div#contact {
    height: 200px;
    width: 70%;
    margin: 0px auto;
    text-align: center;
}
#contact .left {
    display: block;
    float: left;
    width: 50%;
}
#contact .right {
    display: block;
    float: left;
    width: 50%;
}
.left div, .right div {
    padding: 10px;
}
footer {
    width: 100%;
    background-color: gainsboro;
}