@font-face{
	font-family: gameFont;
	src:url(sgame.ttf);
}
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
.welcomeContent{
	height: 100vh;
	width:100%;
	background-color: #000;
}
.background{
	height: 100vh;
}
#home{
	overflow: hidden;
}
#scoreBoard{
	color: white;
	padding:20px;
	font-size: 36px;
	float: left;
	font-family: gameFont;
}
#timeBoard{
	width:50%;
	padding: 20px;
	position: relative;
	float: right;
}
.banner{
	width:75%;
	height:12px;
	position: absolute;
	right:30px;
	visibility: hidden;
	border-radius: 8px;
}
#timeLeft{
	background-color: red;
	width:0px;
	z-index: 9;
	
}
#timeStrip{
	background-color:#cdcdcd;
	z-index: 8;
}
canvas{
	border: 2px solid white;
}
#game_over{
	font-family: gameFont;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #cdcdcd;
}
.content_box{
	border: 1px solid black;
	border-radius: 10px;
	width:30%;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0, 0, 0, 0.28);
}
.content_box ul{
	list-style-type: none;
}
.content_box span{
	display: block;
	text-align: center;
}