/* The add window */
.add-window .input-group, .add-window button{
	margin:10px;
}
.add-window .button-row{
	display: flex;
	justify-content: center;
}
.add-window button span:before{
    padding-right: 10px;
}
.checkbox label{
	width: 100%;
}
.checkbox {
    display: inline-block;
}
.panel{
	word-wrap: break-word;
}
.doneList>div{
	text-decoration: line-through;
	color: #cdcdcd;
}

/* room todo */
.row{
	margin-right: 0px!important;
	margin-left: 0px!important;
}
footer p{
	text-align: center;
}