body{
  overflow:hidden;
}
.background{
  background:linear-gradient(90deg,#eee2ca  ,#c7b8a2);
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.overlay{
  background:linear-gradient(90deg,transparentize(#eee2ca,0.9),transparentize(#c7b8a2,1));
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  pointer-events:none;
}
.container{
  color:#332c1a;
  font-size:20px;
  font-family:Georgia, serif;
  width:60em;
  margin-left:-30em;
  transform-origin:50% 0%;
  transition:transform 200ms;
  transform: perspective(800px) rotateX(40deg) rotateY(-5deg) rotateZ(5deg);
  transform-style:preserve-3d;
  position:absolute;
  left:50%;
}
.col{
  position:relative;
  width:49%;
  display:inline-block;
  box-sizing:border-box;
  padding-right:2em;
  vertical-align:top;
  text-align:justify;
}
.text-backside{
  position:absolute;
  top:0;
  left:0;
  right:2em;
  opacity:0.05;
  transform-origin:50% 0;
  text-shadow:0 0 6px #332c1a;

  transform:scale(-1,1);
}
.layer{
  position:absolute;
  top:0;
  left:0;
  transform-origin:50% 30vh;
}