<h2>Clarifications/ Explanations</h2>
<ul>
	<li>I've used AngularJs, bootstrap and ui-router. For storage I've used localstorage, as suggested</li>
	<li>I encrypted the json strings before storing using an AES js library. However, the key for encryption is fixed for better usability and testing. This key can be changed, and it is proivded in the doc.</li>
	<li>I've tried to implement new services to reduce the tasks I found repetitive, I hope that worked good.</li>
	<li>This is responsive, thanks to BS!</li>
	<li>That's all, thank you!</li>
</ul>
<a ui-sref="rooms" class="btn btn-success">Done</a>