body {
  overflow: hidden;
}

.background {
  background: -webkit-linear-gradient(left, #eee2ca, #c7b8a2);
  background: linear-gradient(90deg, #eee2ca, #c7b8a2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay {
  background: -webkit-linear-gradient(left, rgba(238, 226, 202, 0.1), rgba(199, 184, 162, 0));
  background: linear-gradient(90deg, rgba(238, 226, 202, 0.1), rgba(199, 184, 162, 0));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.container {
  color: #332c1a;
  font-size: 20px;
  font-family: Georgia, serif;
  width: 60em;
  margin-left: -30em;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: perspective(800px) rotateX(40deg) rotateY(-5deg) rotateZ(5deg);
          transform: perspective(800px) rotateX(40deg) rotateY(-5deg) rotateZ(5deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 50%;
}

.col {
  position: relative;
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 2em;
  vertical-align: top;
  text-align: justify;
}

.text-backside {
  position: absolute;
  top: 0;
  left: 0;
  right: 2em;
  opacity: 0.05;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  text-shadow: 0 0 6px #332c1a;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 30vh;
          transform-origin: 50% 30vh;
}
