<div class="content">
	<h1>My Works</h1>
	<div class = "work">
		<h2>IEEE NITK: Website</h2>
		<p>I've always loved experimenting, and designing something clean and simple. I worked for the club website with that in mind. Built from scratch, using popular libraries like fullpage.js and particle.js, this is a clean, neat static page.</p>
		<a href="https://ieeenitk.org" title="IEEE NITK">view website</a>
	</div>
		<div class = "work">
		<h2>ChatBot</h2>
		<p>
		My first attempt at ML and NLP. This is an independant theme based chatbot that could be trained to any plot(like harry potter, GOT or LOTR). Uses recurrent neural networks to classify questions into factual/conversational model and respond accoringly.
		</p>
		<a href="https://github.com/IEEE-NITK/DeepNLP" title="Source Code">Github Link</a>
	</div>

</div>